<%- include('./header') %> 
<style>

  #bt{
    font-family: 'Varela Round', sans-serif;
    float: right;
    font-size: x-large;
    color: rgb(14, 13, 13);
    background-color:#299be4;
    /* border-style: solid; */
    /* border-color: black; */
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-top: 2px;
    
    /* padding: 40px; */

  }
 
  .button{
    font-size: small;
    /* font-family: 'Varela Round', sans-serif; */
    float: right;
	font-size: 25px;
	margin-right: 50px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    /* text-size-adjust: 80px; */
    
  }
</style>
<main id="main" class="main">
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>Models and Permission</h2>
                            <span id="bt" type="button" class="btn btn-primary btn-lg" ></span>
                        </div>

                    </div>
                    <div>
                        
                    </div>
                </div>
                <form method="post">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Models</th>
                                <th>VIEW</th>
                                <th>CREATE</th>
                                <th>UPDATE</th>
                                <th>DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i=0; i < data.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= data[i].title %></td>
                                <td><input type="checkbox" value="<%= data[i].getMethod %>"></td>
                                <td><input type="checkbox" value="<%= data[i].postMethod %>"></td>
                                <td><input type="checkbox" value="<%= data[i].putMethod %>"></tr>
                                <td><input type="checkbox" value="<%= data[i].deleteMethod %>"></td>      

                            </tr>
                            <% } %>
    
    
                        </tbody>
                    </table>
                </form>
            </div><br>
        
                <i> <button class="button" type="submit" class="btn btn-primary btn-lg">Save</button></i>
               
            
        </div>
        
    </div>
    
</main>

<%- include('./fooder') %>
